<h3 class="center-align">Course listing</h3>

<div class="row">
  <% @courses.each do |course| %>
  <div class="col s12 m6 l4">
    <div class="card red lighten-3 z-depth-3">
      <div class="card-content white-text">
        <span class="card-title"><%= course.code_name %>: <%= course.name %></span>
        <p><%= course.description %></p>
      </div>
      <div class="card-action">
        <% if logged_in? && !current_user.courses.include?(course) %>
          <%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post, class: "white-text" %>
        <% end %>
        <a class="white-text" href="#">Info</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
