<h1>Course listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro</li>
  <li>Description: This is a course for display</li>
</ul>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro</li>
  <li>Description: This is a course for display</li>
</ul>