@import "materialize";

// ******* Course page content ******
.card {
  margin: 1rem;
}

// ****student Signup form ********
.signup-form {
  margin-top: 3rem;
}
//***** Student Profile ********
.profile-card {
  margin-top: 3rem;
}
.collection {
  margin-bottom: 3rem;
}

// ******* STUDENTS INDEX ****** 
.students-table {
  margin-bottom: 5rem;
}
// ******* FOOTER ********
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}